<?xml version="1.0"?>

<sdf version="1.6">
    <world name="wavefield">
        <physics name="4ms" type="ignored">
            <max_step_size>0.004</max_step_size>
            <real_time_factor>1.0</real_time_factor>
        </physics>
        <plugin
            filename="ignition-gazebo-physics-system"
            name="ignition::gazebo::systems::Physics">
        </plugin>
        <plugin
            filename="ignition-gazebo-scene-broadcaster-system"
            name="ignition::gazebo::systems::SceneBroadcaster">
        </plugin>
        <plugin
            filename="ignition-gazebo-user-commands-system"
            name="ignition::gazebo::systems::UserCommands">
        </plugin>
        <plugin
            filename="ignition-gazebo-sensors-system"
            name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
        <!-- Uncomment this if you want to use SuctionGripper model -->
        <!-- <plugin
      filename="ignition-gazebo-contact-system"
      name="ignition::gazebo::systems::Contact">
    </plugin> -->

        <!-- <light type="directional"
            name="sun">
            <cast_shadows>true</cast_shadows>
            <pose>0 0 10 0 0 0</pose>
            <diffuse>0.8 0.8 0.8 1</diffuse>
            <specular>0.2 0.2 0.2 1</specular>
            <attenuation>
                <range>1000</range>
                <constant>0.9</constant>
                <linear>0.01</linear>
                <quadratic>0.001</quadratic>
            </attenuation>
            <direction>-0.5 0.1 -0.9</direction>
        </light> -->

        <!-- <scene>
            <sky></sky>
            <grid>false</grid>
            <ambient>1.0 1.0 1.0</ambient>
            <background>0.8 0.8 0.8</background>
        </scene> -->

        <plugin filename="libPublisherPlugin.so" name="maritime::PublisherPlugin">
        <message type="gz.msgs.Param" topic="/gazebo/wavefield/parameters"
                every="2.0">
            params {
            key: "direction"
            value {
                type: DOUBLE
                double_value: 0.0
            }
            }
            params {
            key: "gain"
            value {
                type: DOUBLE
                double_value: 0.2
            }
            }
            params {
            key: "period"
            value {
                type: DOUBLE
                double_value: 10
            }
            }
            params {
            key: "steepness"
            value {
                type: DOUBLE
                double_value: 5
            }
            }
        </message>
        </plugin>

        <!-- <include>
            <uri>model://ground_plane</uri>
        </include> -->

      <model name='takeoff_platform'>
        <pose>1.0 0 3.5 0 0 0</pose>
        <static>true</static>
        <link name="takeoff_platform">
          <visual name="visual">
            <geometry>
              <box>
                <size>2.0 2.0 1.0</size>
              </box>
            </geometry>
          </visual>
          <collision name="collision">
            <geometry>
              <box>
                <size>2.0 2.0 1.0</size>
              </box>
            </geometry>
          </collision>
        </link>
      </model>
      <!-- <include>
        <name>Start Gate</name>
        <pose>-20.10 0 0 0 0 -1.570796</pose>
        <uri>https://fuel.ignitionrobotics.org/1.0/openrobotics/models/Dock</uri>
      </include> -->
      <!-- <include>
        <name>Beach</name>
        <pose>-20.0 0 -1.0 0 0 -1.570796</pose>
        <uri>https://fuel.ignitionrobotics.org/1.0/openrobotics/models/Beach</uri>
      </include> -->
    </world>
</sdf>
